<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Idle0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0001</key>
			<dict>
				<key>frame</key>
				<string>{{238,0},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0002</key>
			<dict>
				<key>frame</key>
				<string>{{476,0},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0003</key>
			<dict>
				<key>frame</key>
				<string>{{714,0},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0004</key>
			<dict>
				<key>frame</key>
				<string>{{952,0},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0005</key>
			<dict>
				<key>frame</key>
				<string>{{1190,0},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0006</key>
			<dict>
				<key>frame</key>
				<string>{{1428,0},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0007</key>
			<dict>
				<key>frame</key>
				<string>{{1666,0},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,252},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0009</key>
			<dict>
				<key>frame</key>
				<string>{{238,252},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0010</key>
			<dict>
				<key>frame</key>
				<string>{{476,252},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0011</key>
			<dict>
				<key>frame</key>
				<string>{{714,252},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0012</key>
			<dict>
				<key>frame</key>
				<string>{{952,252},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0013</key>
			<dict>
				<key>frame</key>
				<string>{{1190,252},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0014</key>
			<dict>
				<key>frame</key>
				<string>{{1428,252},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0015</key>
			<dict>
				<key>frame</key>
				<string>{{1666,252},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,504},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0017</key>
			<dict>
				<key>frame</key>
				<string>{{238,504},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0018</key>
			<dict>
				<key>frame</key>
				<string>{{476,504},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0019</key>
			<dict>
				<key>frame</key>
				<string>{{714,504},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0020</key>
			<dict>
				<key>frame</key>
				<string>{{952,504},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0021</key>
			<dict>
				<key>frame</key>
				<string>{{1190,504},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0022</key>
			<dict>
				<key>frame</key>
				<string>{{1428,504},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0023</key>
			<dict>
				<key>frame</key>
				<string>{{1666,504},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0024</key>
			<dict>
				<key>frame</key>
				<string>{{0,756},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0025</key>
			<dict>
				<key>frame</key>
				<string>{{238,756},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0026</key>
			<dict>
				<key>frame</key>
				<string>{{476,756},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0027</key>
			<dict>
				<key>frame</key>
				<string>{{714,756},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0028</key>
			<dict>
				<key>frame</key>
				<string>{{952,756},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0029</key>
			<dict>
				<key>frame</key>
				<string>{{1190,756},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0030</key>
			<dict>
				<key>frame</key>
				<string>{{1428,756},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0031</key>
			<dict>
				<key>frame</key>
				<string>{{1666,756},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0032</key>
			<dict>
				<key>frame</key>
				<string>{{0,1008},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0033</key>
			<dict>
				<key>frame</key>
				<string>{{238,1008},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0034</key>
			<dict>
				<key>frame</key>
				<string>{{476,1008},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0035</key>
			<dict>
				<key>frame</key>
				<string>{{714,1008},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0036</key>
			<dict>
				<key>frame</key>
				<string>{{952,1008},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0037</key>
			<dict>
				<key>frame</key>
				<string>{{1190,1008},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0038</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1008},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0039</key>
			<dict>
				<key>frame</key>
				<string>{{1666,1008},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0040</key>
			<dict>
				<key>frame</key>
				<string>{{0,1260},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0041</key>
			<dict>
				<key>frame</key>
				<string>{{238,1260},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0042</key>
			<dict>
				<key>frame</key>
				<string>{{476,1260},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0043</key>
			<dict>
				<key>frame</key>
				<string>{{714,1260},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0044</key>
			<dict>
				<key>frame</key>
				<string>{{952,1260},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0045</key>
			<dict>
				<key>frame</key>
				<string>{{1190,1260},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0046</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1260},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0047</key>
			<dict>
				<key>frame</key>
				<string>{{1666,1260},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0048</key>
			<dict>
				<key>frame</key>
				<string>{{0,1512},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0049</key>
			<dict>
				<key>frame</key>
				<string>{{238,1512},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0050</key>
			<dict>
				<key>frame</key>
				<string>{{476,1512},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0051</key>
			<dict>
				<key>frame</key>
				<string>{{714,1512},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0052</key>
			<dict>
				<key>frame</key>
				<string>{{952,1512},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0053</key>
			<dict>
				<key>frame</key>
				<string>{{1190,1512},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0054</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1512},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0055</key>
			<dict>
				<key>frame</key>
				<string>{{1666,1512},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0056</key>
			<dict>
				<key>frame</key>
				<string>{{0,1764},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
			<key>Idle0057</key>
			<dict>
				<key>frame</key>
				<string>{{238,1764},{238,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,252}}</string>
				<key>sourceSize</key>
				<string>{238,252}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Player_Idle.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>Player_Idle.png</string>
		</dict>
	</dict>
</plist>
